/* Colors */
$white:       #FFFFFF !default;
$black:       #333333 !default;

/* Theme */
$grey01:      #f9f9f9 !default;
$grey02:      #f2f0f0 !default;
$grey03:      #dfdfdf !default;
$grey04:      #a8afb0 !default;
$grey05:      #7f8687 !default;
$grey06:      #505859 !default;
$grey07:      #373e3e !default;
$grey08:      #1e2222 !default;
$grey09:      #0b0d0d !default;

$main:        #46685B !default; // dark green
$darkmain:    #213435 !default;
$second:      #E1E3AC !default; // yellow
$darksecond:  #d1d48f !default;

/* Validation */
$info:        #008FD8 !default;
$warning:     #D9AB29 !default;
$success:     #2FAB70 !default;
$error:       #B03330 !default;
