/**
 * Bootstrap Resets
 */

input,
.form-control {
  border: 0;
  box-shadow: 0 0 0;
  border: 1px solid $grey03;
  border-radius: 3px;
  outline:0;

  &:focus {
    outline:0;
    border: 1px solid $grey03;
    box-shadow: 0 0 0;
  }
}

.panel {

}

.list-group-item {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid $grey02;

  &:first-child,
  &:last-child {
    border-radius: 0;
  }

  &:last-child {
    border: 0;
  }
}


.btn-right {
  background: transparent;
  border: 1px solid $grey03;
  color: $grey04;
  font-size: 26px;
  line-height: 26px;
  padding: 2px 9px 6px;
  position: absolute;
  right: 15px;
  top: 11px;

  &:hover {
    border-color: $info;
    color: $info;
    outline: 0;
  }
  &:focus {
    outline: 0;
  }
}
