/**
 * Alerts
 */
.alert-parent {
  position: absolute;
  right: 45px;
  top: 0;
  width: 39%;
  height: 46px;
  overflow: hidden;
}

.alert {
  background: grey;
  border-radius: 3px;
  color: white;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
  top: -10px;
  opacity: 0;
  min-width: 140px;
  transform: translate3d(0,0,0);
  transition: opacity 160ms cubic-bezier(.56,.39,.73,1.24), top 160ms cubic-bezier(.56,.39,.73,1.24);
  -webkit-user-select: none;
  -webkit-app-region: no-drag;

  // &.has-icon {
  //   padding-left: 35px;
  // }
  // &.has-action {
  //   padding-right: 35px;
  // }

  .alert-icon,
  .alert-action {
    color: $white;
    height: 100%;
    flex: 2 1;
    padding: 6px 0;
    min-width: 30px;
    text-align: center;

    i {
      margin: auto;
      text-align: center;
      font-size: 18px;
    }
  }

  .alert-icon {
    background: rgba(0,0,0,0.1);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    left: 0;
  }
  .alert-action {
    background: rgba(0,0,0,0.15);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    right: 0;
  }

  .alert-title {
    font: {
      size: 12px;
      weight: 400;
    }
    flex: 5 4;
    min-width: 110px;
    padding: 8px 12px 7px;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    overflow:hidden;
  }

  &.alert-info {
    background: $info;
  }

  &.alert-success {
    background: $success;
  }

  &.alert-warning {
    background: $warning;
  }

  &.alert-error {
    background: $error;
  }

  &.alert-active {
    display: block;
  }

  &.alert-visible {
    top: 7px;
    opacity: 1;
  }
}
