.banner-items {
  padding: 20px 0;
}

.banner-item {
  background: $white;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 10px 10px 5px 45px;
  margin: 0 0 5px;
  position: relative;

  .banner-status {
    background: $info;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2.5em;
    height: 100%;
    display: flex;

    i {
      margin: auto;
      flex: 1;
      text-align: center;
      font-size: 24px;
    }
  }

  h5 {
    margin: 0;
    text-transform: uppercase;
    font: {
      size: 10px;
      weight: 400;
    }
  }

  h2 {
    margin: 5px 0;
    font-size: 21px;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    color: rgba(0,0,0,0.5);
    margin: 0;
    font-size: 13px;
  }

  .banner-preview {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 57px;

    &:after {
      background: rgba(0,0,0,0.3);
      content: '\f04e';
      color: $white;
      position: absolute;
      padding: 15px 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font: normal normal normal 32px/1 octicons;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      opacity: 0;
      transition: opacity 220ms ease-in-out;
    }

    img {
      width: 100%;
      height: auto;
    }

    &:hover:after {
      opacity: 1;
    }
  }

  .meta-status {
    color: $info;
    margin: 10px 0 3px;
  }

  &.banner-success {
    .banner-status {
      background: $success;
    }
    .meta-status {
      color: $success;
    }
  }

  &.banner-warning {
    .banner-status {
      background: $warning;
    }
    .meta-status {
      color: $warning;
    }
  }

  &.banner-error {
    .banner-status {
      background: $error;
    }
    .meta-status {
      color: $error;
    }
  }
}
