/**
 * Container Header
 */
.header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  min-height: 50px;
  height: 50px;

  .details {
    width: 60%;
  }

  .tabs {
    align-items: flex-end;
  }

  h1 {
    color: $main;
    margin: 0;
    font: {
      size: 30px;
      weight: 300;
    }
  }

  h5 {
    color: $grey04;
    margin: 8px 0 0;
    font: {
      size: 14px;
      weight: 400;
    }
  }


}
