.label {
  border: 1px solid $info;
  background: transparent;
  border-radius: 4px;
  color: $info;
  padding: .1em .4em .2em;
  margin-right: 4px;

  i {
    font-size: 11px;
  }

  &.label-default {
    border-color: $grey04;
    color: $grey04;
  }

  &.label-success {
    border-color: $success;
    color: $success;
  }

  &.label-warning {
    border-color: $warning;
    color: $warning;
  }

  &.label-error {
    border-color: $error;
    color: $error;
  }
}
