.side-panel {
  background: $white;
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 220px;
  height: 100vh;
}

.main-frame {
  background: $grey01;
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 100vh;
}
