/**
 * Side Panel
 */
.side-panel {
  overflow-x: hidden;
  overflow-y: scroll;

}

.panel-nav {
  background: #FBFBFB;
  border-bottom: 1px solid $grey01;
  padding: 10px 15px;
  min-height: 60px;
  position: relative;

  h3 {
    display: inline-block;
    margin: 0;
    vertical-align: baseline;
    line-height: 40px;
    font: {
      size: 21px;
      weight: 300;
    }
  }
}

.list-group-item {
  border-right: 2px solid transparent;
  cursor: pointer;

  .list-group-item-text {

    small {
      font-size: 12px;
      opacity: 0.5;
    }
  }

  &.list-item-active {
    background: #FBFBFB;
    border-right: 2px solid $main;
  }
}

.list-group-item-heading {
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 21px;
}
