/**
 * Side Panel
 */
.side-panel {
  overflow-x: hidden;
  overflow-y: scroll;

}

.panel-nav {
  background: #FBFBFB;
  border-bottom: 1px solid $grey01;
  padding: 10px 15px;
  min-height: 60px;
  position: relative;

  h3 {
    display: inline-block;
    margin: 0;
    vertical-align: baseline;
    line-height: 40px;
    font: {
      size: 21px;
      weight: 300;
    }
  }
}
