.tabs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 40%;

  .btn-tab {
    flex: 1;
    background: transparent;
    border-radius: 0;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: $grey02;
    }
    &:active,
    &:focus {
      box-shadow: 0 0 0;
      outline: 0;
    }
    &.tab-active {
      border-bottom-color: $darkmain;
    }
  }
}
