/**
 * Mug Styling
 */
/* Colors */
/* Theme */
/* Validation */
.frame {
  background: #f2f0f0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  -webkit-user-select: none;
  -webkit-app-region: drag; }

.dni {
  background: transparent;
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 10px;
  padding: 2px; }
  .dni.close {
    background: #ff7362; }
  .dni.minimize {
    background: #ffcc5a; }
  .dni.maximize {
    background: #71d375; }

.side-panel {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 25%;
  min-width: 220px;
  height: 100vh; }

.main-frame {
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  width: 75%;
  height: 100vh; }

* {
  box-sizing: border-box; }

html, body {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

a {
  text-decoration: none; }
