<div class="modal modal-openn">
  <div class="modal-header">
    <i class="octicon octicon-alert"></i>
    <strong>Warning!</strong> 0.72% Diff Found in <strong>Project 1</strong>
    <div class="closer"><i class="octicon octicon-x"></i></div>
  </div>
  <div class="modal-viewer">
    <div class="viewer-image">
      <img class="viewer-preview" src="screens/reference/0_4_body_0_phone.png">
    </div>
    <div class="viewer-meta">
      <div class="meta-options">
        <button class="btn btn-option">
          <i class="octicon octicon-versions"></i>
        </button>
        <button class="btn btn-option">
          <i class="octicon octicon-color-mode"></i>
        </button>
        <button class="btn btn-option btn-active">
          <i class="octicon octicon-screen-full"></i>
        </button>
      </div>
      <div class="meta-title">bodyheadernav_2</div>
      <div class="meta-subtitle"><i class="octicon octicon-code"></i> body header .nav</div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-action modal-action-left">
      <i class="octicon octicon-chevron-left"></i>
    </div>
    <div class="modal-action modal-action-right">
      <i class="octicon octicon-chevron-right"></i>
    </div>
    <div class="modal-carousel-wrap">
      <ul class="modal-carousel">
        <li class="carousel-thumb active">
          <i class="octicon octicon-alert thumb-warning"></i>
          <img src="screens/reference/0_4_body_0_phone.png">
        </li>
        <li class="carousel-thumb">
          <i class="octicon octicon-alert thumb-warning"></i>
          <img src="screens/reference/0_4_body_2_tablet_h.png">
        </li>
        <li class="carousel-thumb">
          <i class="octicon octicon-stop thumb-error"></i>
          <img src="screens/reference/0_4_body_1_tablet_v.png">
        </li>
        <li class="carousel-thumb">
          <i class="octicon octicon-check thumb-success"></i>
          <img src="screens/reference/0_4_body_0_phone.png">
        </li>
      </ul>
    </div>
    <!-- ul.modal-carousel>li.carousel-thumb*4>img -->
  </div>
</div>
