<div class="modal">
  <div class="modal-header">
    <!-- <i class="octicon octicon-alert"></i> -->
    <!-- <strong>Warning!</strong> 0.72% Diff Found in <strong>Project 1</strong> -->
    <strong>{{viewer.title}}</strong>
    <div class="closer" ng-click="close()"><i class="octicon octicon-x"></i></div>
  </div>
  <div class="modal-viewer" ng-class="{'modal-singleton': !viewer.items }">
    <div class="viewer-preview">
      <div class="viewer-images" ng-class="{'viewer-overlay': activeOption == 'overlay', 'viewer-sides': activeOption == 'sides', 'viewer-singleton': !viewer.items}">
        <img class="viewer-image" ng-src="{{compareItem.a}}" src="images/broken.png" style="opacity:{{opacityRange.amount}};">
        <img class="viewer-image" ng-src="{{compareItem.b}}" src="images/broken.png" style="opacity:{{opacityRange.inverse}};">
        <img class="viewer-image" ng-src="{{compareItem.c}}" src="images/broken.png" ng-if="activeOption != 'overlay'">
      </div>
    </div>
    <div class="viewer-meta">
      <div class="meta-options" ng-if="viewer.items">
        <div class="slide-bar" ng-show="activeOption == 'overlay'">
          <input type="range" ng-model="opacityRange.amount" min="0" max="1" step="0.02" value="{{opacityRange.amount}}" title="{{opacityRange.percent}}"/>
        </div>
        <button class="btn btn-option" ng-click="optionMode('overlay')" ng-class="{'btn-active': activeOption == 'overlay'}">
          <i class="octicon octicon-color-mode"></i>
        </button>
        <button class="btn btn-option" ng-click="optionMode('sides')" ng-class="{'btn-active': activeOption == 'sides'}">
          <i class="octicon octicon-three-bars"></i>
        </button>
      </div>
      <div class="meta-options" ng-if="!viewer.items">
        <div class="label label-default">
          <i class="octicon octicon-history"></i> {{activeItem.timestamp | timeAgo}}
        </div>
      </div>
      <div class="meta-title">{{activeItem.name}}</div>
      <div class="meta-subtitle" ng-if="activeItem.query || activeItem.analysis">
        <div class="label label-success" ng-if="activeItem.report.analysis">
          <i class="octicon octicon-clock"></i> {{activeItem.report.analysis}}ms
        </div>
        <div class="label label-default" ng-if="activeItem.status" ng-class="{'label-success': activeItem.status == 'passed', 'label-warning': activeItem.status == 'warning', 'label-error': activeItem.status == 'failed'}">
          <i class="octicon" ng-class="{'octicon-diff-added': activeItem.status == 'passed', 'octicon-diff-ignored': activeItem.status == 'warning', 'octicon-diff-removed': activeItem.status == 'failed'}"></i> {{activeItem.status}}
        </div>
        <div class="label label-default" ng-if="activeItem.query">
          <i class="octicon octicon-code"></i> {{activeItem.query}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer" ng-if="viewer.items">
    <div class="modal-action modal-action-left" ng-if="viewer.items.length > 1" ng-click="modalActionNav('left')">
      <i class="octicon octicon-chevron-left"></i>
    </div>
    <div class="modal-action modal-action-right" ng-if="viewer.items.length > 1" ng-click="modalActionNav('right')">
      <i class="octicon octicon-chevron-right"></i>
    </div>
    <div class="modal-carousel-wrap">
      <ul class="modal-carousel">
        <li class="carousel-thumb" ng-repeat="item in viewer.items" ng-class="{ active: activeItem.id == item.id }" ng-click="goToIndex($index)">
          <i class="octicon" ng-class="{'octicon-tag': item.type == 'reference', 'octicon-check thumb-success': item.status == 'passed', 'octicon-alert thumb-warning': item.status == 'warning', 'octicon-stop thumb-error': item.status == 'failed'}"></i>
          <img ng-src="screens/compare/{{project.id}}/{{item.source}}" src="images/broken.png">
        </li>
      </ul>
    </div>
  </div>
</div>
