<div class="project-history">

  <div class="filter-tabs tabs">
    <button class="btn btn-tab tab-active">All</button>
    <button class="btn btn-tab">Desktop</button>
    <button class="btn btn-tab">Tablet</button>
    <button class="btn btn-tab">Mobile</button>
  </div>

  <div class="banner-items">

    <div class="row banner-item banner-success">
      <div class="banner-status">
        <i class="octicon octicon-check"></i>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h5>Type: <strong>Tablet</strong></h5>
        <h2>body_tablet_0_1_56</h2>
        <p>3 days ago (2/4/7 13:41)</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h5>Diff Threshold: <strong>0.01</strong></h5>
        <p class="meta-status"><i class="octicon octicon-diff-added"></i> Passed</p>
        <p>Analysis: <strong>23ms</strong></p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="banner-preview">
          <img src="screens/reference/0_4_body_0_phone.png">
        </div>
      </div>
    </div>
    <div class="row banner-item banner-warning">
      <div class="banner-status">
        <i class="octicon octicon-alert"></i>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h5>Type: <strong>Tablet</strong></h5>
        <h2>body_tablet_0_1_56</h2>
        <p>3 days ago (2/4/7 13:41)</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h5>Diff Threshold: <strong>0.01</strong></h5>
        <p class="meta-status"><i class="octicon octicon-diff-ignored"></i> Warning</p>
        <p>Analysis: <strong>23ms</strong></p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="banner-preview">
          <img src="screens/reference/0_4_body_2_tablet_h.png">
        </div>
      </div>
    </div>
    <div class="row banner-item banner-error">
      <div class="banner-status">
        <i class="octicon octicon-issue-opened"></i>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h5>Type: <strong>Tablet</strong></h5>
        <h2>body_tablet_0_1_56</h2>
        <p>3 days ago (2/4/7 13:41)</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h5>Diff Threshold: <strong>0.01</strong></h5>
        <p class="meta-status"><i class="octicon octicon-diff-removed"></i> Failed</p>
        <p>Analysis: <strong>23ms</strong></p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="banner-preview">
          <img src="screens/reference/0_4_body_0_phone.png">
        </div>
      </div>
    </div>

  </div>

</div>
