<div class="header">
  <div class="details">
    <h1>Project Title</h1>
    <h5>https://google.com</h5>
  </div>
  <div class="tabs">
    <button class="btn btn-tab" ui-sref-active='tab-active' ui-sref="projects.runner">Runner</button>
    <button class="btn btn-tab" ui-sref-active='tab-active' ui-sref="projects.history">History</button>
    <button class="btn btn-tab" ui-sref-active='tab-active' ui-sref="projects.settings">Settings</button>
  </div>
</div>
<div class="sub-wrapper project-settings" ui-view></div>
