<div class="project-runner">

  <!-- <div class="preloader loading">
    <span class="slice"></span> <span class="slice"></span> <span class="slice"></span> <span class="slice"></span> <span class="slice"></span> <span class="slice"></span>
  </div>
  <div class="loader-title">
    <h2>Creating The Magix</h2>
    <small>63% Complete</small>
  </div> -->

  <h3 class="section-title">Results <button class="btn btn-right btn-section-header">Run New Test</button></h3>

  <div class="statistics">
    <div class="stat-item stat-success">37 Passed</div>
    <div class="stat-item stat-error">14 Failed</div>
    <div class="stat-item stat-warning">2 Warnings</div>
  </div>

  <div class="filter-tabs tabs">
    <button class="btn btn-tab" ng-click="changeFilter('All')" ng-class="{'tab-active': activeFilter == 'All'}">All</button>
    <button class="btn btn-tab" ng-click="changeFilter('Desktop')" ng-class="{'tab-active': activeFilter == 'Desktop'}">Desktop</button>
    <button class="btn btn-tab" ng-click="changeFilter('Tablet')" ng-class="{'tab-active': activeFilter == 'Tablet'}">Tablet</button>
    <button class="btn btn-tab" ng-click="changeFilter('Mobile')" ng-class="{'tab-active': activeFilter == 'Mobile'}">Mobile</button>
  </div>

  <div class="banner-items">

    <div class="row banner-item banner-success film-strip-wrap">
      <div class="banner-status">
        <i class="octicon octicon-check"></i>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="film-strip">
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_2_tablet_h.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_1_tablet_v.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_2_tablet_h.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_2_tablet_h.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_1_tablet_v.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
        </ul>
      </div>
    </div>
    <div class="row banner-item banner-warning film-strip-wrap">
      <div class="banner-status">
        <i class="octicon octicon-alert"></i>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="film-strip">
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_1_tablet_v.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
        </ul>
      </div>
    </div>
    <div class="row banner-item banner-error film-strip-wrap">
      <div class="banner-status">
        <i class="octicon octicon-stop"></i>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <ul class="film-strip">
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_2_tablet_h.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_1_tablet_v.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
          <li class="film-thumb">
            <img src="screens/reference/0_4_body_0_phone.png">
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
