<div class="project-runner">

  <div class="intro-static" ng-if="(!hasSettings || !hasReference || !hasCompare) && !processing">
    <i class="intro-icon octicon" ng-class="{'octicon-stop': hasSettings == false, 'octicon-microscope': hasReference == false && hasSettings == true, 'octicon-versions': hasCompare == false && hasReference == true && hasSettings == true}"></i>
    <div class="static-title" ng-if="!hasSettings">Please finish configuring settings!</div>
    <div class="static-title" ng-if="!hasReference && hasSettings">Start testing by creating a reference point.</div>
    <div class="static-title" ng-if="!hasCompare && hasReference && hasSettings">Ready to run an image diff comparison?</div>
    <button class="btn btn-create" ui-sref="projects.settings({ id: project.id })" ng-if="!hasSettings">Change Settings</button>
    <button class="btn btn-create" ng-click="newReference()" ng-if="!hasReference && hasSettings">Start</button>
    <button class="btn btn-create" ng-click="newCompare()" ng-if="!hasCompare && hasReference && hasSettings">Run Compare</button>
  </div>

  <div class="runner-section" ng-if="processing">
    <div class="runner-loader">
      <div class="preloader loading">
        <span class="slice"></span> <span class="slice"></span> <span class="slice"></span> <span class="slice"></span> <span class="slice"></span> <span class="slice"></span>
      </div>
      <div class="loader-title">
        <h2>{{progress.title}}</h2>
        <small>{{progress.percent | number:0}}% Complete</small>
      </div>
    </div>
  </div>

  <div class="runner-section" ng-if="hasSettings && hasReference && hasCompare && !processing">
    <div class="runner-results" ng-if="!processing">
      <h3 class="section-title">Results
        <button class="btn btn-right btn-section-header btn-section-offset" ng-click="newCompare()">Run Compare</button>
        <button class="btn btn-right btn-section-header" ng-click="newReference()">New Reference</button>
      </h3>
      <div class="statistics" ng-if="activeData.success || activeData.error || activeData.warning">
        <div class="stat-item stat-success">{{activeData.success}} Passed</div>
        <div class="stat-item stat-error">{{activeData.error}} Failed</div>
        <div class="stat-item stat-warning">{{activeData.warning}} Warnings</div>
      </div>

      <div class="banner-items" ng-if="batchItems.length > 0">
        <div class="row banner-item banner-{{batch.type}} film-strip-wrap" ng-repeat="batch in batchItems" ng-click="previewBatch(batch.items)" ng-if="batch.items.length > 0">
          <div class="banner-status">
            <i class="octicon" ng-class="{'octicon-check': batch.type == 'success', 'octicon-alert': batch.type == 'warning', 'octicon-stop': batch.type == 'error'}"></i>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ul class="film-strip">
              <li class="film-thumb" ng-repeat="item in batch.items">
                <img ng-src="screens/compare/{{project.id}}/{{item.source}}" src="images/broken.png">
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
