<div class="project-history">

  <div class="filter-tabs tabs" ng-if="historyItems.length > 0">
    <button class="btn btn-tab" ng-click="changeFilter('All')" ng-class="{'tab-active': activeFilter == 'All'}">All</button>
    <button class="btn btn-tab" ng-click="changeFilter('Desktop')" ng-class="{'tab-active': activeFilter == 'Desktop'}">Desktop</button>
    <button class="btn btn-tab" ng-click="changeFilter('Tablet')" ng-class="{'tab-active': activeFilter == 'Tablet'}">Tablet</button>
    <button class="btn btn-tab" ng-click="changeFilter('Mobile')" ng-class="{'tab-active': activeFilter == 'Mobile'}">Mobile</button>
    <button class="btn btn-tab" ng-click="changeFilter('passed')" ng-class="{'tab-active': activeFilter == 'passed'}">Passed</button>
    <button class="btn btn-tab" ng-click="changeFilter('warning')" ng-class="{'tab-active': activeFilter == 'warning'}">Warning</button>
    <button class="btn btn-tab" ng-click="changeFilter('failed')" ng-class="{'tab-active': activeFilter == 'failed'}">Failed</button>
  </div>

  <div class="banner-items" ng-if="historyItems.length > 0">

    <div class="row banner-item" ng-repeat="item in historyItems | filter:activeFilterQuery" ng-class="{'banner-info': item.type == 'reference', 'banner-success': item.status == 'passed' && item.type != 'reference', 'banner-warning': item.status == 'warning' && item.type != 'reference', 'banner-error': item.status == 'failed' && item.type != 'reference'}">
      <div class="banner-status">
        <i class="octicon" ng-class="{'octicon-tag': item.type == 'reference', 'octicon-check': item.status == 'passed', 'octicon-alert': item.status == 'warning', 'octicon-stop': item.status == 'failed'}"></i>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <h5>Type: <strong>{{item.viewport}}</strong></h5>
        <h2>{{item.name}}</h2>
        <p title="{{item.timestamp | date:'MM/dd/yy h:mma'}}">{{item.timestamp | timeAgo}}</p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-if="item.type == 'compare'">
        <h5>Diff Threshold: <strong>{{item.report.diff}}</strong></h5>
        <p class="meta-status"><i class="octicon octicon-diff-added" ng-class="{'octicon-diff-added': item.status == 'passed', 'octicon-diff-ignored': item.status == 'warning', 'octicon-diff-removed': item.status == 'failed'}"></i> {{item.status}}</p>
        <p>Analysis: <strong>{{item.report.analysis}}ms</strong></p>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" ng-if="item.type == 'reference'">
        <h5>ID: <strong>{{item.query}}</strong></h5>
        <p class="meta-status"><i class="octicon octicon-diff-modified"></i> {{item.type}}</p>
        <p>Batch: <strong>{{item.batch}}</strong></p>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <div class="banner-preview" ng-click="previewItem(item)">
          <img ng-src="screens/{{item.type}}/{{project.id}}/{{item.source}}" title="screens/{{item.type}}/{{project.id}}/{{item.source}}" src="images/broken.png">
        </div>
      </div>
    </div>

  </div>

  <div class="row default-state" ng-if="historyItems.length < 1">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <p>No history yet! Click below to get started!</p>
      <button class="btn btn-reference" ui-sref="projects.runner({ id: project.id })">Start Runner</button>
    </div>
  </div>

</div>
